[Unit]
Description=demo fastapi application
After=network.target

[Service]
User=imballama
Group=imballama
WorkingDirectory=/home/imballama/app/src
Environment="PATH=/home/imballama/.local/share/virtualenvs/src-HNR-uiIz/bin"
EnvironmentFile=/home/imballama/.env
ExecStart=/home/imballama/.local/share/virtualenvs/src-HNR-uiIz/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target